# Node and build directories
node_modules
dist

# Terraform state and related files
*.tfplan
crash.log
.terraform.lock.hcl

# Local Terraform directories
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup

# Build artifacts
*.zip