# Node and build directories
node_modules
dist

# Terraform state and related files
terraform.tfstate
terraform.tfstate.backup
*.tfplan
crash.log
.terraform.lock.hcl

# Local Terraform directories
infra/.terraform/

# Build artifacts
*.zip